.head {
  padding-top: 25px;
}

.container {
  width: 1150px;
  height: 90vh;
  background: var(--color-greyback);
  margin: 30px auto;
  border-radius: 40px;
}
.links {
  display: flex;
  margin-left: 30px;
}

.links h1 {
  margin-left: 10px;
}

.links a {
  color: white;
  font-size: 22px;
  line-height: 28px;
  margin: 0px 16px;
  padding-top: 8px;
  text-decoration: none;
}
.links a:hover {
  color: var(--color-blue);
  transition: color 300ms;
}

.links a.active {
  color: var(--color-blue);
}

.links-page {
  margin-left: 270px;
  margin-top: 9px;
}
